# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
env/
venv/

# Databases
*.db
*.sqlite
*.sqlite3

# Env files
.env
.env.local

# macOS
.DS_Store

# Logs
*.log
